@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    line-height: 20px;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.sign-in {
    left: 50%;
    top: -150%;
    transform: translate(-50%,-50%) scale(1.25);
    position: absolute;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.15);
    z-index: 99999;
    width: auto;
    padding: 30px 30px 50px;
    border-radius: 10px;
}

.sign-in-active {
    top: 50%;
}

.sign-in .close-btn{
    position: absolute;
    background-color:#941919;
    border-radius: 15px;
    text-align: center;
    line-height: 15px;
    top: -10px;
    right: -10px;
    width: 15px;
    height: 15px;
    color: white;
    cursor: pointer;

}

.sign-in .form h2 {
    text-align: center;    
    margin-bottom: 20px;
    font-size: 22px;
}

.sign-in .form p {
    margin-bottom: 0;
    font-size: 12px;
}

.sign-in .form .form-element{
    margin: 0 0 20px;
}

.sign-in .form .form-element label{
    line-height: px;
    font-size: 12px;
}

.sign-in .form .form-element input[type="text"],
.sign-in .form .form-element input[type="password"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.sign-in .form .form-element input[type="checkbox"] {
    vertical-align: middle;
    width: 12px;
    margin-right: 0px;
}

.sign-in .form .form-element button{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #b1b1b1;
    color: white;
}

.sign-in .form .form-element button:hover{
    background-color: #383838;
}
nav {
    width: 100%;
    z-index: 999;
    position: fixed;
    border-bottom: 1px solid #b1b1b1;
}

.navbar-icon {
    position: absolute;
    top: 1rem;
    right: 1.2rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.navbar-icon .garis {
    height: 3px;
    background-color: #fff;   
}

.navbar {
    list-style-type: none;
    padding: 18px 80px 12px 0;
    float: right;
    display: flex;
}

.navbar li a {
    text-decoration: none;
    padding: 0 20px;
    color: #fff;
}

.navbar li a:hover {
    color: black;
}

.nav-change-color {
    transition: all 1ms;
    opacity: 60%;
    background-color: #000000;
}

.slide {
    max-width: auto;
    height: 690px;
    position: relative;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide1{
    background: url(img/bg1.png) no-repeat center;
    background-size: cover;
    animation: slide1 30s infinite;
    -webkit-animation: slide1 30s infinite;
}

.slide2{
    background: url(img/bg2.png) no-repeat center;
    background-size: cover;
    animation: slide2 30s infinite;
    -webkit-animation: slide2 30s infinite;
}

.slide3{
    background: url(img/bg3.png) no-repeat center;
    background-size: cover;
    animation: slide3 30s infinite;
    -webkit-animation: slide3 30s infinite;
}

.slide4{
    background: url(img/bg4.png) no-repeat center;
    background-size: cover;
    animation: slide4 30s infinite;
    -webkit-animation: slide4 30s infinite;
}

@keyframes slide1 {
    0% {opacity: 1;}
    26% {opacity: 0;}
    51% {opacity: 0;}
    76% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes slide2 {
    0% {opacity: 0;}
    26% {opacity: 1;}
    51% {opacity: 0;}
    76% {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes slide3 {
    0% {opacity: 0;}
    26% {opacity: 0;}
    51% {opacity: 1;}
    76% {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes slide4 {
    0% {opacity: 0;}
    26% {opacity: 0;}
    51% {opacity: 0;}
    76% {opacity: 1;}
    100% {opacity: 0;}
}

h1 {
    font-family: serif;
    position: absolute;
    text-align: center;
    line-height: 680px;
    font-size: 80px;
    color: #fff;
    width: 100%;
    height: 100%;
    z-index: 100;
}

main {
    display: flex;
    flex-direction: column;
}

article h2 {
    height: 150px;
    width: auto;
    text-align: center;
    border-top: 1px solid #9A9A9A;
    border-bottom: 1px solid #9A9A9A;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #AF9738;
    font-weight: 700;
    font-size: 40px;
    line-height: 150px;
}

article {
    margin: 40px 0px;
}

article h3 {
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(37, 37, 37);
    font-size: 28px;
    font-weight: 400;
    line-height: 31px;;
}

article ul {
    list-style-type: none;
}


article ul li {
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    padding: 20px;
    margin: 40px 80px;
}

article p {
    margin: 10px;
    font-family: 'Inter', sans-serif;
    text-align: justify;
    size: 16px;
    font-weight: 400;
    color: #303133;
}

figure img {
    display: block;
    width: 700px;
    margin: auto;
}

figcaption {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    color: #af9738;
    width: 700px;
    margin: 10px auto;
    text-align: center;
}

footer {
    background-color: rgb(120, 120, 128);
    height: 70px;
}

footer p {
    height: 70px;
    width: 1000px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    size: 15px;
    font-weight: 400;
    line-height: 70px;
}

#contact {
    position: absolute;
    right: 300px;
    width: 0;
    display: flex;
    list-style-type: none;
}

#contact li a ion-icon{
    margin: 20px;
    display: block;
    color: #ffffff;
    width: 20px;
    height: 20px;
}

#contact li a ion-icon:hover {
    color: rgb(0, 0, 0);
}

@media only screen and (max-width: 1024px) {

    html, body {
        overflow-x: hidden;
    }

    nav {
        background-color: #000000;
        opacity: 60%;
        height: 50px;
        z-index: 999;
        position: fixed;
    }

    .nav--close {
        background-color: transparent;
        border-bottom: 1px solid #b1b1b1;
    }

    .nav-change-color {
        transition: all 1ms;
        background-color: #000000;
        opacity: 60%;
    }

    .navbar {
        opacity: 92%;
        padding: 0;
        margin-top: 50px;
        background-color: #000000;
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .navbar li {
        border-bottom: 1px solid rgb(255, 244, 244);
        line-height: 30px;
        height: 30px;
        width: 100%;
    }

    .navbar-icon {
        display: flex;
    }

    .navbar--close {
        display: none;
    }

    h1 {
        text-align: center;
        top: 300px;
        line-height: 40px;
        font-size: 40px;
        width: 100%;
        height: 100%;
    }

    body {
        margin: 0;
    }

    article h2 {
        height: auto;
        text-align: center;
        margin-top: 0;
        font-weight: 100;
        font-size: 20px;
        line-height: 50px;
    }

    article h3 {
        font-size: 18px;
        font-weight: 400;
        line-height: 31px;;
    }

    article ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    figure img {
        padding: 0;
        width: 100%;
        margin: 0;
    }

    figcaption {
        font-size: 12px;
        font-weight: 300;
        line-height: 12px;
        color: #af9738;
        width: auto;
    }

    article {
        margin: 30px 0px;
    }

    article ul li {
        border: 1px solid #dfdfdf;
        border-radius: 10px;
        padding: 5px;
        margin: 20px 0px;
    }

    main {
        margin: 10px;
    }

    article p {
        text-align: justify;
        size: 10px;
        color: #303133;
    }

    footer {
        width: 100%;
        position: relative;
        height: 70px;
    }
    
    footer p {
        background-color: rgb(120, 120, 128);;
        color: #ffffff;
        line-height: 1;
        width: 100%;
        height: 15px;
        font-size: 12px;
        overflow-y: hidden;
    }

    #contact {
        margin-left: 22%;
        width: auto;
        position: static;
    }
    
}